body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 1.48;
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden;
}
:root {
    --primary: #fb8b25;
    --secondary: #34AD54;
    --light:#facda2;
    --dark: #091E3E;
}
@-webkit-keyframes sk-rotateplane {
    0% {
        -webkit-transform: perspective(120px)
    }
    50% {
        -webkit-transform: perspective(120px) rotateY(180deg)
    }
    100% {
        -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg)
    }
}

@keyframes sk-rotateplane {
    0% {
        transform: perspective(120px) rotateX(0deg) rotateY(0deg);
        -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)
    }
    50% {
        transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
        -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
    }
    100% {
        transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
        -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    }
}



/*** Heading ***/
h1,
h2,
.fw-bold {
    font-weight: 500 ;
}

h3,
h4,
.fw-semi-bold {
    font-weight: 700 !important;
}

h5,
h6,
.fw-medium {
    font-weight: 600 !important;
}


/*** Button ***/
.btn {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    transition: .5s;
}

.btn-primary,
.btn-secondary {
    color: #FFFFFF;
    box-shadow: inset 0 0 0 50px transparent;
}

.btn-primary:hover {
    box-shadow: inset 0 0 0 0 var(--primary);
}

.btn-secondary:hover {
    box-shadow: inset 0 0 0 0 var(--secondary);
}

.btn-square {
    width: 36px;
    height: 36px;
}

.btn-sm-square {
    width: 30px;
    height: 30px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding-left: 0;
    padding-right: 0;
    text-align: center;
}

/*** Section Title ***/
.section-title::before {
    position: absolute;
    content: "";
    width: 150px;
    height: 5px;
    left: 0;
    bottom: 0;
    background: var(--primary);
    border-radius: 2px;
}

.section-title.text-center::before {
    left: 50%;
    margin-left: -75px;
}

.section-title.section-title-sm::before {
    width: 90px;
    height: 3px;
}

.section-title::after {
    position: absolute;
    content: "";
    width: 6px;
    height: 5px;
    bottom: 0px;
    background: #FFFFFF;
    -webkit-animation: section-title-run 5s infinite linear;
    animation: section-title-run 5s infinite linear;
}

.section-title.section-title-sm::after {
    width: 4px;
    height: 3px;
}

.section-title.text-center::after {
    -webkit-animation: section-title-run-center 5s infinite linear;
    animation: section-title-run-center 5s infinite linear;
}

.section-title.section-title-sm::after {
    -webkit-animation: section-title-run-sm 5s infinite linear;
    animation: section-title-run-sm 5s infinite linear;
}

@-webkit-keyframes section-title-run {
    0% {left: 0; } 50% { left : 145px; } 100% { left: 0; }
}

@-webkit-keyframes section-title-run-center {
    0% { left: 50%; margin-left: -75px; } 50% { left : 50%; margin-left: 45px; } 100% { left: 50%; margin-left: -75px; }
}

@-webkit-keyframes section-title-run-sm {
    0% {left: 0; } 50% { left : 85px; } 100% { left: 0; }
}






@media (min-width: 991.98px) {
    .facts {
        position: relative;
        margin-top: -75px;
        z-index: 1;
    }
}

.back-to-top {
    position: fixed;
    display: none;
    right: 45px;
    bottom: 45px;
    z-index: 99;
}

.bg-header {
    background: linear-gradient(rgba(9, 30, 62, .7), rgba(9, 30, 62, .7)), url(../img/carousel-1.jpg) center center no-repeat;
    background-size: cover;
}

.link-animated a {
    transition: .5s;
}

.link-animated a:hover {
    padding-left: 10px;
}



/* SECTION BG SAME */
.bg-ai{
  background: linear-gradient(68deg, #fff9f7, #e1ebf5);
  mix-blend-mode: multiply;
}



/* DESKTOP GRID */
.platform-wrapper{
    
    scroll-behavior: smooth;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  overflow: hidden;
}

/* CARD DESIGN */
.platform-card{

  border-radius: 30px;
  overflow: hidden;
  padding: 25px;
     background: #F8FCFD;
  backdrop-filter: blur(16px);
  transition: all 0.3s ease;
}

.platform-card:hover{
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
-webkit-transition: All 600ms ease;
}

.platform-card img{
 max-width: 100%;
 height: auto;
  margin-bottom: 20px;
}

.platform-card p{
    font-family: poppins;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
  color: #6b7280;
  line-height: 1.48;
  font-size: 15px;
  margin-bottom: 0;
  text-align: justify;
}


.platform-card a{
  color: #ff7a00;
  text-decoration: none;
  display: inline-block;
  margin-top: 20px;
}

@media (max-width:768px){
  .bg-ai{
  background: #fff;
}
  .platform-wrapper{
    border-radius: 30px;
     box-shadow:  0 0 15px 0 rgba(0,0,0,.1);
-webkit-transition: All 600ms ease;
    display: flex !important;
    overflow-x: auto;
  scroll-padding-left: 20px;
    scroll-snap-type: x mandatory;
    width: 100%;
  }

  .platform-card{
    flex: 0 0 100%;   
    max-width: 100%;
 padding: 25px;
    scroll-snap-align: center;
    border-radius: 30px;
    box-sizing: border-box;
  }

  .platform-wrapper::-webkit-scrollbar{
    display: none;
  }


.platform-card p{
    flex: unset !important;

    white-space: normal !important;
    word-break: break-word !important;
    overflow-wrap: break-word !important;
font-size: 14px;
    line-height: 1.6;
    display: block;
    width: 100%;

    text-align: left;
  }
 
  .platform-card img{
   max-width: 100%;   /* 🔥 BIGGER IMAGE */
    height: auto;

    display: block;
    margin: 0 auto 20px;
  }
.slider-dots{
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-top: 35px;
}

.slider-dots span{
  width: 8px;
  height: 8px;
  background: #ccc;
  border-radius: 50%;
  transition: 0.3s;
}

.slider-dots span.active{
  background: #ff7a00;
  width: 18px;
  border-radius: 10px;
}
}
 .feature-card{
     position: relative;
    background: #fff 0% 0% no-repeat padding-box;
    box-shadow: 0 5px 45px #4A50561A;
    border-radius: 30px;
    padding: 35px 25px;
    opacity: 1;
    transition: .3s all;
    height: 100%;
}

.feature-card img{
           /* desktop size */
  max-height: 60px;
  object-fit: contain;
filter:invert(34%) sepia(10%) saturate(3748%) hue-rotate(170deg) brightness(96%) contrast(93%);
  margin-bottom: 15px;

  transition: 0.3s;
}

.feature-card p{
  font-size: 18px;
  line-height: 1.5rem;
  font-weight: 500;
  color: #1e1e1e;
  -webkit-font-smoothing: antialiased;
}



/* 🔥 HOVER EFFECT (EXACT LIKE IMAGE) */
.feature-card:hover{
  transform: translateY(-8px);
    background: #26619c 0% 0% no-repeat padding-box;
    box-shadow: 0 5px 45px #26619C73;
}

/* 🔥 HOVER ON NORMAL → BLUE */
.feature-card:hover{
  background: #2f5e92;
}
.feature-card.active img{
  filter:invert(34%) sepia(10%) saturate(3748%) hue-rotate(170deg) brightness(96%) contrast(93%);
}
.feature-card:hover img{
  filter: brightness(0) invert(1);
}
.feature-card:hover i,
.feature-card:hover p{
  color: #fff;
}
@media (max-width:768px){

  .feature-card{
   padding: 49px 25px !important;
        margin: 0 33px;
  }

    .feature-card img{
    max-width: 100%;   /* 🔥 smaller for mobile */
    height: auto;
  }

  .feature-card h6{
    font-size: 14px;
  }

}


/* Countdown CSS start*/
.bg-ftime{
    background:#faf2f0 ;
}
.font-w{
    font-weight: 700;
}
.stat-content{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.pad-y-6{
    padding-top: 25px;
    padding-bottom: 25px;
}
.pad-x-4{
padding-left: 15px;
    padding-right: 15px;
}
.mar-b-1{
    margin-bottom: 5px;
}
.brand-primary {
    color: #fb8b25;
}
.font-size-jumbo {
    font-family: 'Montserrat',serif;
    font-size: 54px;
    line-height: 1.24;
    -webkit-font-smoothing: antialiased;}
    .font-bold {
    font-weight: 700!important;
}
.no-margin-bottom {
    margin-bottom: 0 !important;
        margin-top: 0;
}
.brand-third {
    color: #1e1e1e;
}
.font-medium {
    font-weight: 500;
}
.font-size-big {
    font-size: 16px;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;}
    .con_btn{
        padding: 12px 30px!important;
    border-radius: 27px!important;
    border: #fb8b25;
    }
     .con_btn:hover{
        color: #fff;
    background-color: #fb861b;
    box-shadow: 0 3px 7px 0 rgba(0, 0, 0, .25);
    transform: translate3d(0, -1px, 0);
    -webkit-transition: All 300ms ease;
     }
     .section-title-2::before {
    position: absolute;
    content: "";
    width: 150px;
    height: 5px;
    left: 0;
    bottom: 0;
    background: var(--primary);
    border-radius: 2px;
}
    @media (max-width:768px){
        .content-stat{
            text-align: center;
        }
        .section-title-2::before  {
    left: 50%;
    margin-left: -75px;
}
.d-flex{
    display: block!important;
    
}
.footer-h{
    padding: 35px 5px;
}
.foot-h{
    font-size:20px!important;
}
.h-100{
    height: 100%!important;
}
    }
/* Countdown CSS End*/



/*Lead with an Industry-recognized Platform Section css */
    /* DESKTOP GRID */
.platform-wrapper-2{
    
    scroll-behavior: smooth;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  overflow: hidden;
}

/* CARD DESIGN */
.platform-card-2{

  border-radius: 30px;
  overflow: hidden;
  padding: 25px;
     background: #F8FCFD;
  backdrop-filter: blur(16px);
  transition: all 0.3s ease;
}

.platform-card-2:hover{
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
-webkit-transition: All 600ms ease;
}

.platform-card-2 img{
 max-width: 100%;
 height: auto;
  margin-bottom: 20px;
}

.platform-card-2 p{
    font-family: poppins;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
  color: #6b7280;
  line-height: 1.48;
  font-size: 15px;
  margin-bottom: 0;
  text-align: justify;
}


.platform-card-2 a{
  color: #ff7a00;
  text-decoration: none;
  display: inline-block;
  margin-top: 20px;
}

@media (max-width:768px){
.py-5{
    padding-bottom: 0rem!important;
}
  .platform-wrapper-2{
    border-radius: 30px;
     box-shadow:  0 0 15px 0 rgba(0,0,0,.1);
-webkit-transition: All 600ms ease;
    display: flex !important;
    overflow-x: auto;
  scroll-padding-left: 20px;
    scroll-snap-type: x mandatory;
    width: 100%;
  }

  .platform-card-2{
    flex: 0 0 100%;   
    max-width: 100%;
 padding: 25px;
    scroll-snap-align: center;
    border-radius: 30px;
    box-sizing: border-box;
  }

  .platform-wrapper-2::-webkit-scrollbar{
    display: none;
  }


.platform-card-2 p{
    flex: unset !important;

    white-space: normal !important;
    word-break: break-word !important;
    overflow-wrap: break-word !important;
font-size: 14px;
    line-height: 1.6;
    display: block;
    width: 100%;

    text-align: left;
  }
 
  .platform-card-2 img{
   max-width: 100%;   /* 🔥 BIGGER IMAGE */
    height: auto;

    display: block;
    margin: 0 auto 20px;
  }
.slider-dots-2{
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-top: 35px;
}

.slider-dots-2 span{
  width: 8px;
  height: 8px;
  background: #ccc;
  border-radius: 50%;
  transition: 0.3s;
}

.slider-dots-2 span.active{
  background: #ff7a00;
  width: 18px;
  border-radius: 10px;
}
}
/*Lead with an Industry-recognized Platform Section CSS end */


/* Customer SLIDER CSS */
.client-slider{
  overflow: hidden;
  position: relative;
}

/* TRACK */
.client-track{
  display: flex;
  gap: 30px;

  animation: scrollClients 20s linear infinite;
}

/* CARD */
.client-card{
  min-width: 220px;
  height: 90px;

  background: #fff;
  border-radius: 20px;

  display: flex;
  align-items: center;
  justify-content: center;

  box-shadow: 0 5px 20px rgba(0,0,0,0.05);
}

/* IMAGE */
.client-card img{
  max-width: 140px;
  max-height: 40px;
  object-fit: contain;
}

/* ANIMATION */
@keyframes scrollClients{
  0%{
    transform: translateX(0);
  }
  100%{
    transform: translateX(-50%);
  }
}
@media (max-width:768px){

  .client-card{
    min-width: 160px;
    height: 70px;
    border-radius: 15px;
  }

  .client-card img{
    max-width: 110px;
    max-height: 30px;
  }

}
/* Customer SLIDER CSS End */